div.login-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  > h3 {
    font-size: 30px;
  }
  > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}